body {
    background-color: #263238;
    color: #ddd;
    font-family: Courier, monospace;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 14pt;
    font-weight: normal;
}