body {
    background-color: #263238;
    color: #ddd;
    font-family: Courier, monospace;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
    }
    
    #grid {
        margin-left: auto;
        margin-right: auto;
    }
    
    #grid tr td {
        border: 1px solid #fff;
        background-color: #999;
        width: 20px;
        height: 20px;
        text-align: center;
    }
    
    #grid tr td.active {
        background-color: #333;
        color: #fff;
    }
    
    #grid tr td.mine {
        background-color: #d84315;
    }
    
    #grid tr td.win {
        background-color: #15d815 !important;
    }
    
    button {
        margin: 12px 0;
        padding: 4px 0;
        border: none;
        outline: none;
        cursor: pointer;
}